@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";

    var user = await UserManager.GetUserAsync(User);
    var userRoles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
}

<div class="container py-5">
    <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="https://img.freepik.com/premium-vector/modern-monogram-letter-e-logo-design_375081-2523.jpg" alt="Edusync Logo" width="40" height="40" class="me-2">
            <span class="fs-4 fw-bold">Edusync</span>
        </a>
    </header>

    <!-- Hero Section -->
    <div class="p-5 mb-4 bg-light rounded-3 position-relative" style="background-image: url('https://images.squarespace-cdn.com/content/v1/60054c9b4616fd2204d7e4b3/1657189908708-YTLXTOIXE4U4VCXP8WZP/GettyImages-950614324.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); border-radius: 0.3rem;"></div>
        <div class="container-fluid py-5 position-relative text-white">
            <h1 class="display-5 fw-bold">School Management System</h1>
            <p class="col-md-8 fs-4">Using Edusync manage your schools with ease.</p>
        </div>
    </div>

    <!-- Functionalities Section -->
    <div class="row text-center my-4">

        @if (userRoles.Contains("Admin"))
        {
            <!-- Admin Section -->
            <div class="col-md-4">
                <div class="p-4 border bg-light rounded-3">
                    <h3 class="mb-4 fw-bold">Admin</h3>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Courses")" class="btn btn-outline-dark btn-block my-2">Manage Courses</a></li>
                        <li><a href="@Url.Action("Index", "Teachers")" class="btn btn-outline-dark btn-block my-2">Manage Teachers</a></li>
                        <li><a href="@Url.Action("Index", "Students")" class="btn btn-outline-dark btn-block my-2">Manage Students</a></li>
                        <li><a href="@Url.Action("Index", "Classes")" class="btn btn-outline-dark btn-block my-2">Manage Timetable</a></li>
                        <li><a href="@Url.Action("ManageRoles", "Account")" class="btn btn-outline-dark btn-block my-2">Manage Roles</a></li>
                    </ul>
                </div>
            </div>
        }

        @if (userRoles.Contains("Student"))
        {
            <!-- Students Section -->
            <div class="col-md-4">
                <div class="p-4 border bg-light rounded-3">
                    <h3 class="mb-4 fw-bold">Students</h3>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("ViewOnly", "Grades")" class="btn btn-outline-dark btn-block my-2">View Grades</a></li>
                        <li><a href="@Url.Action("ViewOnly", "Attendances")" class="btn btn-outline-dark btn-block my-2">View Attendance</a></li>
                        <li><a href="@Url.Action("ViewOnly", "Classes")" class="btn btn-outline-dark btn-block my-2">View Timetable</a></li>
                        <li><a href="@Url.Action("ViewOnly", "Students")" class="btn btn-outline-dark btn-block my-2">View Academic Progress</a></li>
                    </ul>
                </div>
            </div>
        }

        @if (userRoles.Contains("Teacher"))
        {
            <!-- Teachers Section -->
            <div class="col-md-4">
                <div class="p-4 border bg-light rounded-3">
                    <h3 class="mb-4 fw-bold">Teachers</h3>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Grades")" class="btn btn-outline-dark btn-block my-2">Manage Grades</a></li>
                        <li><a href="@Url.Action("ViewOnly", "Classes")" class="btn btn-outline-dark btn-block my-2">View Timetable</a></li>
                        <li><a href="@Url.Action("Index", "Attendances")" class="btn btn-outline-dark btn-block my-2">Manage Attendances</a></li>
                        <li><a href="@Url.Action("ViewOnly", "Students")" class="btn btn-outline-dark btn-block my-2">View Academic Progress</a></li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
